<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<body>
<div class="topnav">
    <a href="{% url 'contents' back.id %}" style="float: left; margin: auto;">
        <img src="{% static 'Arrow_left.png' %}" alt="Back" >
    </a>
    <a href="{% url 'folders' %}" style="float: left;">
        main menu
    </a>
    <div class="dropdown" style="float: left;">
        <button class="dropbtn">
            <img src="{% static 'Add_ring@2x.png' %}" alt="New folder" style="width:30px;height:30px;">
        </button>
        <div class="dropdown-content">
            <a href="{% url 'newFolder' root.id %}">New Folder</a>
            <a href="{% url 'newPost' %}">New Post</a>
        </div>
    </div>
</div>
<div style="display: flex; align-items: center; justify-content: left; gap: 10px;">
    <h1>{{ root.title }}</h1><p>({{ post_list.count }} files)</p>
</div>
{% if post_list or folders%}
<ul>
    {% for folder in folders %}
    <li>
        <div class="dropdown" style="float: left;">
            <a href="{% url 'contents' folder.id %}">
        <button class="dropbtn">
            <img src="{% static 'folder_icon_new.png' %}" alt="Folder Icon" style="width:70px;height:70px;">
            <br>{{ folder.title }}
        </button>
            </a>
        <div class="dropdown-content">
            <a href="{% url 'share' folder.id %}">Share</a>
            <a href="{% url 'shareEdit' folder.id %}">Edit Shares</a>
            <a href="{% url 'folder_edit' folder.id root.id %}">Edit</a>
            <a href="{% url 'deleteFolder' folder.id %}">Delete</a>
        </div>
    </div>
    </li>
    {% endfor %}
</ul>
<div>
    <p>File Selection</p>
</div>
<ul class="ul1">
    {% for post in post_list %}
    <li>
        <div class="dropdown" style="float: left;">
            <a href="{{ post.url }}" target="_blank">
                <button class="dropbtn">
                    <img src="{% static 'File@3x.png' %}" alt="Pose Icon" style="width:70px;height:70px;">
                    <br>{{ post.title }}
                </button>
            </a>
            <div class="dropdown-content">
                <a href="{% url 'delete_post' root.id post.id%}">Delete</a>
                <a href="{% url 'post_edit' post.id root.id %}">Edit</a>
            </div>

        </div>
    </li>

    {% endfor %}
</ul>
{% else %}
<H1>No Contents</H1>
{% endif %}
</body>