<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<body>
<div class="topnav">
    <a href="{% url 'contents' back.id %}" style="float: left;">
            back
    </a>
    <a href="{% url 'folders' %}" style="float: left;">
        home
    </a>
</div>
<h1>{{ root.title }}</h1>
{% if post_list or folders%}
<ul>
    {% for folder in folders %}
    <li>
        <div class="dropdown" style="float: left;">
            <a href="{% url 'contents' folder.id %}">
        <button class="dropbtn">
            <img src="{% static 'folder_icon_new.png' %}" alt="Folder Icon" style="width:70px;height:70px;">
            <br>{{ folder.title }}
        </button>
            </a>
        <div class="dropdown-content">
            <a href="{% url 'share' folder.id %}">Share</a>
            <a href="{% url 'shareEdit' folder.id %}">Edit Shares</a>
            <a href="{% url 'folder_edit' folder.id root.id %}">Edit</a>
            <a href="{% url 'deleteFolder' folder.id %}">Delete</a>
        </div>
    </div>
    </li>
    {% endfor %}

    {% for post in post_list %}
    <li>
        <div>
            <a href="{{ post.url }}" target="_blank">{{ post.title }}</a>
            <a href="{% url 'delete_post' root.id post.id%}">Delete</a>
            <a href="{% url 'post_edit' post.id root.id %}">Edit</a>
        </div>

        <hr/>
    </li>

    {% endfor %}
</ul>
{% else %}
<H1>No Contents</H1>
{% endif %}
</body>