<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<body>
<div class="topnav">
    <a href="{% url 'settings' %}">
        <img src="{% static 'options.png' %}" alt="Options" style="width:40px;height:40px;">
    </a>
    <div class="dropdown">
        <button class="dropbtn">
            <img src="{% static 'folder_icon_add.png' %}" alt="New folder" style="width:40px;height:40px;">
        </button>
        <div class="dropdown-content">
            <a href="{% url 'newFolder' root.id %}">New Folder</a>
            <a href="{% url 'newPost' %}">New Post</a>
        </div>
    </div>

</div>
<h1>Folders</h1>
{% if folder_list %}
<ul>
    {% for folder in folder_list %}
    <li>
        <div class="dropdown" style="float: left;">
            <a href="{% url 'contents' folder.id %}">
        <button class="dropbtn">
            <img src="{% static 'folder_icon_new.png' %}" alt="Folder Icon" style="width:70px;height:70px;">
            <br>{{ folder.title }}
        </button>
            </a>
        <div class="dropdown-content">
            <a href="{% url 'share' folder.id %}">Share</a>
            <a href="{% url 'shareEdit' folder.id %}">Edit Shares</a>
            <a href="{% url 'folder_edit' folder.id root.id %}">Edit</a>
            <a href="{% url 'deleteFolder' folder.id %}">Delete</a>
        </div>
    </div>
    </li>
    {% endfor %}
</ul>
{% else %}
<H1>No Folders</H1>
{% endif %}
</body>